body {
	background-color: white;
	font-family: arial;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

.active {
	background-color: #dfdfdf;
}

#nav-bar ul {
	list-style-type: none;
	background-color: #ebebeb;
	margin: 0;
}

#nav-bar ul li {
	display: inline-block;
	padding: 1vw;
	font-size: 3vh;
}

#sidebar ul {
	list-style-type: none;
	background-color: #ebebeb;
	margin: 0;
}

#sidebar ul li {
	display: inline-block;
	padding: 1vw;
	font-size: 2vh;
}	

/*--------------------------------
						DIARY PAGE
----------------------------------*/
#diary-content {
	background-color: white;
	height: 100vh;
}

#overview {
	display: block;
}

.div-active {
	background-color: lightblue;
	display: block;
	height: 100%;
}

.tabs {
	display: none;
}

.tab-content {
	background-color: white;
	border-radius: 0vw;
	padding: 2em;
}

.tab-content h1 {
	padding: 0em;
	margin: 0em;
}

/*--------------------------------
					PRODUCTS PAGE
----------------------------------*/
#products-content {
	background-color: white;
	height: 100vh;
}

#products-content > div, #diary-content > div {
	padding: 1vw;
}

.items {
	display: inline-block;
	padding: 1vw;
	margin: 1vw 2vw 1vw 0vw;
	border: 1px solid #000;
}

.tab-content input {
	display: block;
	margin: 1vw 2vw 1vw 0vw;
	padding: 1em;
	width: 80%;
}

.product-img {
	display: block;
}